<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-qxTLPitVkpySQGzJc2jkrYqiLewpGCo</string>
	<key>GCM_SENDER_ID</key>
	<string>1087229070261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greengradproject.ios</string>
	<key>PROJECT_ID</key>
	<string>greengradproject</string>
	<key>STORAGE_BUCKET</key>
	<string>greengradproject.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087229070261:ios:7c7ce4a5d19fb68e30a7fc</string>
</dict>
</plist>